<br/>
{{md-tabs
    content=tabs
    selected='a' class="tight-tab box-shadow"}}
<div class="tight-box">
{{#md-card title="Card Title" class="tight-card"}}
    {{#md-card-content}}
        I am a very simple card. I am good at containing
        small bits of information. I am convenient because
        I require little markup to use effectively.
    {{/md-card-content}}
    {{#md-card-action}}
        {{#link-to "index"}}Link 1{{/link-to}}
        {{#link-to "index"}}Link 2{{/link-to}}
    {{/md-card-action}}
{{/md-card}}
</div>
