<br/>
{{md-tabs
    content=tabs
    selected=tab class="tight-tab box-shadow"}}
<div class="tight-box">
{{#md-card title="Card Title" class="tight-card"}}
    {{#md-card-content}}
        I am a very simple card. I am good at containing
        small bits of information. I am convenient because
        I require little markup to use effectively.
    {{/md-card-content}}
    {{#md-card-action}}
	<div style="text-align:right">
	{{md-btn text='Save & Continue'
	icon='mdi-content-send'
	iconPosition='right'
	action='debug'
	class='yellow deep-purple-text text-darken-3'}}
	</div>
    {{/md-card-action}}
{{/md-card}}
</div>
