<footer id="footer" class={{theme}}>
    <div class="container">
        <div class="row">
            <div class="col m6 s12">
                <h5>&nbsp;</h5>
            </div>
            <div class="col m6 s12">
                <h5>&nbsp;</h5>
            </div>
        </div>
    </div>
    {{#md-copyright text=''
        startYear=2016
        class=copyrighttheme}}
		<a href="https://github.com/dioptre/embercms" class="right white-text social-btn social-btn__github github" role="button" title="GitHub">&nbsp;</a>
    {{/md-copyright}}
</footer>

