<br><br>
 <footer class="docs-text-styling docs-footer mdl-mini-footer mdl-color--grey-900">
        <ul>
          <li class="mdl-mini-footer--social-btn">
            <a href="https://github.com/dioptre/embercms" class="social-btn social-btn__github" role="button" title="GitHub"></a>
          </li>
        </ul>
      </footer>
