    <header class="docs-layout-header mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="docs-layout-title mdl-layout-title"><a href="./">Material<br>Design<br>Lite</a></span>
      </div>
      <div class="docs-navigation__container">
        <nav class="docs-navigation mdl-navigation">
          <a href="./index.html" class="mdl-navigation__link about">About</a>
          <a href="./started/index.html" class="mdl-navigation__link started">Getting Started</a>
          <a href="./templates/index.html" class="mdl-navigation__link templates">Templates</a>
          <a href="./components/index.html" class="mdl-navigation__link components">Components</a>
          <a href="./styles/index.html" class="mdl-navigation__link styles">Styles</a>
          <a href="./customize/index.html" class="mdl-navigation__link customize">Customize</a>
          <a href="./showcase/index.html" class="mdl-navigation__link showcase">Showcase</a>
          <a href="./faq/index.html" class="mdl-navigation__link faq">FAQ</a>
          <div class="spacer"></div>
          <a href="https://github.com/google/material-design-lite" class="mdl-navigation__link mdl-navigation__link--icon github"><i class="material-icons">link</i><span>GitHub</span></a>
          <a href="./started/index.html#download" class="mdl-navigation__link mdl-navigation__link--icon download">
            <i class="material-icons">&#xE2C4;</i><span>Download</span>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--fab mdl-button--mini-fab mdl-color--lime-A200">
              <i class="material-icons">&#xE2C4;</i>
            </button>
          </a>
        </nav>
      </div>
      <i class="material-icons scrollindicator scrollindicator--right">&#xE315;</i>
      <i class="material-icons scrollindicator scrollindicator--left">&#xE314;</i>
    </header>
