<div class="image-preloader"></div>
<div class="docs-layout mdl-layout mdl-js-layout">
{{template-header pagename=pagename}}
    <main class="docs-layout-content mdl-layout__content mdl-color-text--grey-600">
      <div class="content mdl-grid mdl-grid--no-spacing" id="content">
        <div class="subpageheader mdl-cell--12-col"></div>
		{{outlet}}
		{{!-- ember-cli-materialize modal container --}}
		{{md-modal-container}}		
        </div>
	{{template-footer}}
     </main>
</div>
