<div class="basic-page basic-message">
    <h3>Something went wrong...</h3>
    <br>
    <span>You may need more privileges. If the problem persists, please contact your administrator.</span>
    <br><br>
    {{#unless loggedIn}}{{#link-to 'login' tagName='button' class="btn"}}Login{{/link-to}}{{/unless}}
</div>
